<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="COTWSaveManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="COTWSaveManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <COTWSaveManager.Properties.Settings>
            <setting name="saveBasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="activeSave" serializeAs="String">
                <value />
            </setting>
            <setting name="storePath" serializeAs="String">
                <value />
            </setting>
            <setting name="keepSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keepFOW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepAchieves" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepIcons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepNeedZ" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepDog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="experimentalWarnShown" serializeAs="String">
                <value>False</value>
            </setting>
        </COTWSaveManager.Properties.Settings>
    </userSettings>
</configuration>